body {
  background-color: #111;
  color: #ddd;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.spacer {
  height: 1300vh;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

#msg {
  margin-top: 10px;
  opacity: 0.6;
}

canvas {
  display: block;
  margin-top: 50px;
}